{% extends 'base.html' %}

{% block content %}
<div class="bg-light">
<br><br><br><br><br><br><br><br>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-primary">Register</div>
                    <div class="card-body">
                        <form action="{% url 'addts' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Register As</label>
                                <select name="users" class="form-control">
                                    <option value="teacher">Admin</option>
                                    <option value="teacher">Teacher</option>
                                    <option value="student">Student</option>
                                </select>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
    
                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" name="name" required autocomplete="name" autofocus>
    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sname" class="col-md-4 col-form-label text-md-right">Surname</label>
        
                                <div class="col-md-6">
                                    <input id="sname" type="text" class="form-control " name="sname" value="" required autocomplete="sname" autofocus>
        
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fname" class="col-md-4 col-form-label text-md-right">Father's Name</label>
        
                                <div class="col-md-6">
                                    <input id="fname" type="text" class="form-control " name="fname" value="" required autocomplete="fname" autofocus>
        
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="mname" class="col-md-4 col-form-label text-md-right">Mother's Name</label>
        
                                <div class="col-md-6">
                                    <input id="mname" type="text" class="form-control " name="mname" value="" required autocomplete="mname" autofocus>
        
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
    
                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control " name="email" value="" required autocomplete="email">
    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="dept" class="col-md-4 col-form-label text-md-right">Department</label>
                                <div class="col-md-6">
                                <select name="dept" class="form-control">
                                    <option value="Instrumental Engineering">Instrumental Engineering</option>
                                    <option value="Electronics Engineering">Electronics Engineering</option>
                                    <option value="Computer Engineering">Computer Engineering</option>
                                    <option value="Electronics and Telecommunication Engineering">Electronics and Telecommunication Engineering</option>
                                    <option value="Information and Technology Engineering">Information and Technology Engineering</option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="contact" class="col-md-4 col-form-label text-md-right">Contact</label>
    
                                <div class="col-md-6">
                                    <input id="contact" type="text" class="form-control " name="contact" required autocomplete="contact" autofocus>
    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-md-4 col-form-label text-md-right">Address</label>
    
                                <div class="col-md-6">
                                    <input id="address" type="text" class="form-control" name="address" required autocomplete="address" autofocus>
    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
    
                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control " name="password" required autocomplete="new-password">
    
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label for="cpassword" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
    
                                <div class="col-md-6">
                                    <input id="cpassword" type="password" class="form-control" name="cpassword" required autocomplete="new-password">
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
</div>
{% endblock %}